<h1>Mon Petit Blog Secret</h1>
<div class="page-grid">
    <section class="content diagonal-negative">
        <h2>Tu es maintenant sur le site du chef du département, il te faut maintenant chercher où est le code. Si tu n’y arrive pas, clique sur le bouton “aide”</h2>
    </section>
    <section class="content diagonal-negative">
        <h2>Ma passion pour l'informatique</h2>
        <p>Je suis passionné par l'informatique. C'est un monde en constante évolution qui offre une multitude d'opportunités pour la création et la résolution de problèmes. J'adore découvrir de nouvelles technologies et apprendre comment elles peuvent améliorer notre vie quotidienne. C'est une passion qui me permet de développer mes capacités intellectuelles tout en me divertissant. C'est un véritable plaisir de voir mon travail prendre vie sous forme de logiciel ou d'application utile pour les autres. Je suis heureux de faire partie de cette communauté mondiale d'informaticiens.<br>(J'avoue j'ai utilisé chatgpt)</p>
    </section>
    <section class="content diagonal-positive">
        <h2>Morning routine</h2>
        <p>
            Se réveiller à une heure fixe.<br>
            Boire un verre d'eau pour hydrater le corps.<br>
            Faire un peu d'exercice ou de yoga pour s'étirer et s'éveiller.<br>
            Prendre une douche pour se rafraîchir.<br>
            Préparer et manger un petit déjeuner sain.<br>
            Planifier la journée à venir et établir des objectifs.<br>
            Mettre en pratique une activité de méditation ou de pleine conscience pour se calmer et se concentrer.
        </p>
    </section>
    <section class="content diagonal-negative">
        <h2>Ce que j'aime faire </h2>
        <p>
            Manger<br>
            Jouer à league of legends et restez stuck silver parce que mes mates ne savent pas jouer<br>
            Courir en réalité virtuel parce que en vrai ça fatigue<br>
            Dessiner<br>
            Cacher des codes secret
        </p>
    </section>
    <section class="content diagonal-negative">
        <h2>Petit poème</h2>
        <p>
            Convoiter comme un minéral précieux<br>
            Opréssé comme une feuille A4 dans une imprimante<br>
            Dénaturé comme une balade en forêt sur Minecraft<br>
            Est-ce vraiment juste d'aimer?<br>
            Intérieurement compliqué<br>
            Un courant d'air m'envahi<br>
            Tout comme ce magnifique poème
        </p>
    </section>
    <section class="content diagonal-positive">
        <h2>Trouve le code</h2>
        <ul>
            <% for (let i = 0; i < 26; ++i) { %>
                <li>
                    <%= (i + 10).toString(36) %>
                    =
                    <% if (codeIUT !== '') { %>
                        <% if (i + 10 === 12) { %>
                            <%= codeIUT[0] %>
                        <% } else if (i + 10 === 24) { %>
                            <%= codeIUT[1] %>
                        <% } else if (i + 10 === 13) { %>
                            <%= codeIUT[2] %>
                        <% } else if (i + 10 === 14) { %>
                            <%= codeIUT[3] %>
                        <% } else if (i + 10 === 18) { %>
                            <%= codeIUT[4] %>
                        <% } else if (i + 10 === 30) { %>
                            <%= codeIUT[5] %>
                        <% } else if (i + 10 === 29) { %>
                            <%= codeIUT[6] %>
                        <% } else { %>
                            <%= Math.floor(Math.random() * 100) %>
                        <% } %>
                    <% } %>
                </li>
            <% } %>
        </ul>
        <button class="btn btn-primary" onclick="alert('(Le code sera caché dans un poème, on prend les premières de chaque vers, et les lettres ont comme référence un numéro) indice: tout à un commencement, une phrase à comme commencement une lettre, on prête souvent plus attention au début qu’à la fin.')">Aide</button>
        <button class="btn btn-primary" onclick="alert('Le code à trouver est: CODEIUT. Test le code dans le Chapitre 3')">Réponse</button>
    </section>
</div>
